<div class="col-md-8">
</br>

<%= bootstrap_form_for([@list,@new_note]) do |f| %>
<%= f.text_field :body, hide_label: :true, placeholder: "Make a note..." %>
<% end %>





</br>
<% @list.notes.each do |note_instance| %>
	<%= note_instance.body %>
	</br>
<% end %>
</div>
</div>