<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline" align='center'>
					<li>
						<a href="/">Home</a>
					</li>
					<li class="footer-menu-divider">&sdot;</li>
					<li>
						<a href="about">About</a>
					</li>
				</ul>
				<p class="copyright text-muted small" align="center">Copyright &copy; Noti 2014. All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>