

<!-- sidebar -->
<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation" style="padding-top: 54px;">
  <ul class="nav">
    <% current_user.lists.each_with_index do |list_instance, list_index| %>
    <li> <%= link_to(list_instance.name, list_path(list_instance.id)) %> </li>
    <% end %>
    <li>Create new List</li>
  </ul>
</div>