<!-- Facebook Login Script -->
    <script>
    	window.fbAsyncInit = function() {
    		FB.init({
    			appId      : '717368311683652',
    			xfbml      : true,
    			version    : 'v2.2'
    		});
    	};

    	(function(d, s, id){
    		var js, fjs = d.getElementsByTagName(s)[0];
    		if (d.getElementById(id)) {return;}
    		js = d.createElement(s); js.id = id;
    		js.src = "//connect.facebook.net/en_US/sdk.js";
    		fjs.parentNode.insertBefore(js, fjs);
    	}(document, 'script', 'facebook-jssdk'));
    </script>
    

    <!-- Header -->
    <div class="intro-header">

    	<div class="container">

    		<div class="row">
    			<div class="col-lg-12">
    				<div class="intro-message">
    					<h1>Welcome to Noti</h1>
    					<h3>We Keep Track of Your Notes</h3>
    					<h3> So You Dont Have To </h3>
    					<hr class="intro-divider">
    					<h3> Sign Up / Log In </h3>
    				</br>
    				<ul class="list-inline intro-social-buttons">
    					<li>
    						<a href="users/sign_up" class="btn btn-default btn-lg"> <span class="network-name"><%= image_tag("brand_black.png", size: "20", class: "brand-margin") %> Noti</span></a>
    					</li>
    					<li> 
    						<a href="<%=user_omniauth_authorize_path(:facebook) %>" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
    					</li>
    					<li>
    						<a href="<%=user_omniauth_authorize_path(:twitter) %>" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
    					</li>
    					<li>
    						<a href="#" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
    					</li>

    				</ul>
    			</div>
    		</div>
    	</div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">A Better Way to Share Notes with Friends & Coworkers: </h2>
				<p>
				Sharing with Noti is much better than passing a single notebook with all your friends. 
				</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6" align="center">
				<!-- <i class="fa fa-share-alt fa-5x" style="font-size: 18em;"></i> -->
				<%= image_tag("noti_share.jpg", class: "img-circle") %>
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Noti keeps track of all your notes in the cloud.</h2>
				<p class="lead">This keeps your notes safe, and allows you to access them anywhere on any devise.</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6" align="center">
				<i class="fa fa-cloud-upload fa-5x" style="font-size: 18em;" ></i>
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Multiple Notebooks</h2>
				<p class="lead">Noti allows you to create as many notebooks as you need to stay orginized.</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6" align="center">
				<img class="img-responsive desaturate" src="/teal-journal.png" alt="" style="width:275px;height:350px">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div> 
<!-- /.content-section-a -->
<div class="content-section-b">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Please Spread the Word About Noti! </h2>
				<p>
				Tell your friends the run-down on noti on social media.
				</p>
				</br>
				</br>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6" align="center">
				<ul class="list-inline intro-social-buttons">
				</br>
				</br>
    					<li> 
    						<a href="https://www.facebook.com/sharer/sharer.php?u=www.noti.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
    					</li>
    					<li>
    						<a href="https://twitter.com/home?status=Hey%20check%20out%20this%20awesome%20note%20taking%20application:%20Noti!%20www.noti.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
    					</li>
    					<li>
    						<a href="https://plus.google.com/share?url=www.noti.com" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
    					</li>
    					<li>
    						<a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false" class="btn btn-default btn-lg"><i class="fa fa-reddit fa-fw"></i> <span class="network-name">Reddit</span></a>
    					</li>
    				</ul>
    				</br>
			</div>

		</div>

	</div>
	<!-- /.container -->


<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<li>
						<a href="#home">Home</a>
					</li>
					<li class="footer-menu-divider">&sdot;</li>
					<li>
						<a href="#about">About</a>
					</li>
					<li class="footer-menu-divider">&sdot;</li>
					<li>
						<a href="#services">Services</a>
					</li>
					<li class="footer-menu-divider">&sdot;</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
				</ul>
				<p class="copyright text-muted small">Copyright &copy; Noti 2014. All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>