.session_background {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(noti_background3.jpg) no-repeat center center;
    background-size: cover;
}

.session_shadow {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.form_input {
	text-align: center;	
}

.session_style {
	background-color: rgba(30,30,30,.2);
	margin-top: 80px; margin-left: 20px;
	margin-right: 20px; padding-top: 50px;
	border-color: gray align: center;
	align: center;
}